#!/bin/bash

CONTAINER_NAME=3scale-perftest
REPORT_PATH={{ injector_reports_path }}
TEST_PLAN_FILE={{ injector_plan_file  }}
JMETER_PLAN_FILE={{ injector_jmeter_plan_file }}
TRAFFIC_PATH={{ injector_traffic_path }}
JMETER_TRAFFIC_PATH={{ injector_jmeter_traffic_path }}
PROTOCOL={{ injector_jmeter_protocol }}
TARGET_HOST={{ injector_jmeter_target_host }}
TARGET_PORT={{ injector_jmeter_target_port }}

while getopts ":hr:d:t:" opt; do
  case ${opt} in
    h )
      echo "Usage:"
      echo "    3scale-perftest -h                       Display this help message."
      echo "    3scale-perftest -r RPS -d DUR -t THRS    Launch 3scale perf test."
      exit 0
      ;;
    r )
      RPS=$OPTARG
      ;;
    d )
      DURATION=$OPTARG
      ;;
    t )
      THREADS=$OPTARG
      ;;
    : )
      echo "Invalid Option: -$OPTARG requires an argument" 1>&2
      exit 1
      ;;
    \? )
      echo "Invalid Option: -$OPTARG" 1>&2
      exit 1
      ;;
  esac
done
shift $((OPTIND -1))

[[ -z $RPS ]] && echo "Option not set: RPS" 1>&2 && exit 1
[[ -z $DURATION ]] && echo "Option not set: DURATION" 1>&2 && exit 1
[[ -z $THREADS ]] && echo "Option not set: THREADS" 1>&2 && exit 1

docker run -ti --rm --name ${CONTAINER_NAME} \
      -v ${REPORT_PATH}:/tmp \
      -v ${TEST_PLAN_FILE}:${JMETER_PLAN_FILE} \
      -v ${TRAFFIC_PATH}:${JMETER_TRAFFIC_PATH} \
      --net=host --privileged=true \
      -e PROTOCOL="${PROTOCOL}" \
      -e DURATION="${DURATION}" \
      -e TARGET="${TARGET_HOST}" \
      -e TARGET_PORT="${TARGET_PORT}" \
      -e THREADS="${THREADS}" \
      -e RPS="${RPS}" \
      {{ injector_jmeter_image_name }}:{{ injector_jmeter_image_tag }}
